<div id="category">Kategorie: {{ word.category }}</div>

<div id="word">
  @for (letter of word.letters; track $index) {
    <span>
      @if (letterIsGuessed(letter)) {
        {{ letter }}
      } @else {
        _
      }
    </span>
  }
</div>

<div id="message">
  @if (!isWon() && !isLost()) {
    @if (showHint) {
      Hinweis: {{ hint }}
    } @else {
      <button (click)="getHint()">Hinweis</button>
    }
  }

  <span>
    @if (isWon()) {
      Glückwunsch!<br />
      Du hast das Wort erraten!
    } @else if (isLost()) {
      Leider verloren.<br />
      Das Wort war "<span>{{ word.letters }}</span
      >"
    }
  </span>

  @if (isWon() || isLost()) {
    <button (click)="location.reload()">Nochmal!</button>
  } @else {
    @for (wrongGuess of asArray(wrongGuesses); track $index) {
      x
    }
    @for (
      tryLeft of asArray(this.guessesAllowed - this.wrongGuesses);
      track $index
    ) {
      •
    }
  }
</div>

<div id="keyboard">
  @if (!isWon() && !isLost()) {
    @for (key of keys; track $index) {
      <button
        (click)="onKeyClick($any({ key }))"
        [disabled]="letterIsGuessed(key)"
        [class.correct]="letterIsNeeded(key) && letterIsGuessed(key)"
        [class.wrong]="!letterIsNeeded(key) && letterIsGuessed(key)"
      >
        {{ key }}
      </button>
    }
  }
</div>
