:host {
  height: 100vh;
  display: block;

  #navigation {
    position: static;
    top: 0;
    z-index: 1;
    background-color: #eee;
    border-bottom: 1px solid #ccc;

    width: calc(100% - 16px);
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 18px;

    margin-bottom: 10px;

    a {
      color: #222;
      font-size: large;
    }
  }
}
