:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: xx-large;

  #word {
    font-size: xxx-large;
  }

  #hint,
  #message {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      text-align: center;
    }

    button {
      width: fit-content;
      font-size: xx-large;
    }
  }

  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    gap: 8px;

    button {
      font-size: x-large;
      width: 38px;

      &.correct {
        background-color: #4caf50;
      }

      &.wrong {
        background-color: #f44336;
      }
    }
  }
}
