<div id="category">
  {{ word.category }}
</div>
<div id="word">
  @for (letter of word.letters; track $index) {
    <span>
      @if (letterIsGuessed(letter)) {
        {{ letter }}
      } @else {
        _
      }
    </span>
  }
</div>

<div id="message">
  @if (isWon()) {
    Glückwunsch! Du hast das Wort erraten!
  } @else if (isLost()) {
    Leider verloren. Das Wort war "<span>{{ word }}</span
    >"
  } @else {
    {{ guessesAllowed - wrongGuesses }} Versuche übrig
  }
</div>

<div id="keyboard">
  @for (key of keys; track $index) {
    <button
      (click)="onKeyClick($any({ key }))"
      [disabled]="letterIsGuessed(key)"
      [class.correct]="letterIsNeeded(key) && letterIsGuessed(key)"
      [class.wrong]="!letterIsNeeded(key) && letterIsGuessed(key)"
    >
      {{ key }}
    </button>
  }
</div>
